* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000;
    color: #fff;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-direction: column;
}

/*---------------seção botão-------------------------*/

#botao{  /*section botão*/
    margin: 0;
    margin-top: 20px;
    margin-bottom: 20px;
}

button { /*tamanho do botão da seta*/
    background-color: #ffffff;
    border: none;
    padding: 10px 15px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
    height: 80%;
}

button:hover { /*transição de cor do butão da seta*/
    background-color: #ec1010;
}

#caixa-login{ /*tamanho da caixa de inserir o login*/
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    outline: none;
}

input { /* texto para o login*/
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    outline: none;
}

/*-----------------seção container---------------*/

.container { /*section container*/
    display: flex;             
    justify-content: center;   
    align-items: center;      
    height: 100vh;
    width: 80vw;    
    height: 60vh;
    
}

.logo-img img { /*classe dentro da section container*/
    width: 350px;           
    height: 350px; 
    padding-top:10px;
}

/*-----------------seção rodapé-----------------*/

#rodape{
   display: flex;
   width: 100px;
   height: 100px;
   background-color: #ec1010;
}

#menu-contato{ /*id da section rodapé*/
list-style: none;
display: flex;
justify-content: center;
gap: none;
padding: 0;
font-family: "Abel", sans-serif;
text-transform: uppercase;
font-size: 12px;
font-weight: bold;
color: #ffffff;

}

nav ul {
    list-style: none;
    padding: 0;
    
}

nav ul li {
    display: inline;
    margin: 0 10px;
  
}

nav ul li a {
    text-decoration: none;
    position: relative;
    font-weight: bold;
    font-size: 12px;
    color: var(--txts, var(--color_14, #ffffff));
    transition: var(--trans, color .4s ease 0s);
    color: #ffffff;
    

}

nav ul li a:hover {
    color: var(--txts-hover, var(--color_14-hover, #fff9f9));
}


/*nav ul li:not(:last-child)::after {
    content: "|";
    margin-left: 20px;
    color: #ffffff;
    (colocar barra entre os links)
}*/

